greeting:
  message: "hello"
quarkus:
  datasource:
    db-kind: mysql
    username: root
    password: root
    jdbc:
      url: jdbc:mysql://localhost:3307/weather_api
  hibernate-orm:
    database:
      generation: "drop-and-create"
